@font-face {
    font-family: 'TR Avalon';
    src: url('./font/TR\ Avalon\ Plain.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'TR Avalon';
    src: url('./font/TR\ Avalon\ Bold.ttf') format('truetype');
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'TR Avalon', sans-serif;
}

body {
    font-family: 'TR Avalon', sans-serif;
    background: #bbd4ce;
    color: #000
}


.formContainer {
    width: 80%;
}

.formContainer h2 {
    color: #264e70;
}

.formContainer {
    color: #000;
    background: #fff;
    border-radius: 0px;
    padding: 20px 70px 25px 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border: 1px solid #264e70;
}












.day-1,
.day-2,
.day-3,
.day-4,
.day-5 {
    background-color: #fff;
    color: #000;
    border: 1px solid #264e70;
}

#header-weather {
    color: #264e70;
    background-color: #fff;
    text-align: center;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #264e70;
    font-size: small;
}

#header-weather {
    display: none;
}

@media (min-width: 768px) {
    #header-weather {
        display: block;
    }
}

.firsttext {
    text-align: center;
    margin: 30px;
}

.container {
    display: flex;
    gap: 35px;
    padding: 30px;
}

.city-input::placeholder {
    color: #000;
    opacity: 0.6;
    font-size: small;
}

.weather-input {
    width: 550px;
}

.weather-input h3 {
    color: #264e70;
}

.weather-input input {
    color: #264e70;
    font-weight: 700;
    background-color: #fff;
    height: 46px;
    width: 100%;
    outline: none;
    font-size: 1.07rem;
    padding: 0 17px;
    margin: 10px 0 20px 0;
    border-radius: 0px;
    border: 1px solid #264e70;
}

.weather-input input:focus {
    padding: 0 16px;
    border: 2px solid #264e70;
}

.weather-input .separator {
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background: #BBBBBB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-input .separator::before {
    content: "or";
    font-weight: 700;
    color: #6C757D;
    font-size: 1rem;
    padding: 0 15px;
    margin-top: -4px;
    background: #bbd4ce;
}

.weather-input button {
    font-weight: 700;
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 0px;
    font-size: 1rem;
    color: #fff;
    background: #264e70;
    transition: 0.2s ease;
}

.weather-input .search-btn:hover {}

.weather-input .location-btn {
    background: #264e70;
}

.weather-input .location-btn:hover {}

.weather-data {
    width: 100%;
}

.weather-data h2 {
    color: #264e70;
}

.sidebar-tab {
    color: #000;
    background: #fff;
    border-radius: 0px;
    padding: 20px 70px 25px 20px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #264e70;
    margin-top: 20px;
}

.sidebar-tab h2 {
    color: #264e70;
}

.sidebar-tab h6 {
    margin-top: 12px;
    font-size: 1rem;
    font-weight: 500;
}

.weather-data .current-weather {
    color: #000;
    background: #fff;
    border-radius: 0px;
    padding: 20px 70px 25px 20px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #264e70;
}

.current-weather h2 {
    font-weight: 700;
    font-size: 1.7rem;
}

.weather-data h6 {
    margin-top: 12px;
    font-size: 1rem;
    font-weight: 500;
}

.current-weather .icon {
    text-align: center;
}

.current-weather .icon img {
    max-width: 120px;
    margin-top: -15px;
}

.current-weather .icon h6 {
    margin-top: -10px;
    text-transform: capitalize;
}

.days-forecast {
    margin: 20px 0 30px 0;
    font-size: 1.5rem;
}

.days-forecast .weather-cards {
    display: flex;
    gap: 20px;
}

.card h3 {
    color: #264e70;
}

.card h6,
.current-weather h6,
#location-list h6 {
    font-size: small;
}

.weather-cards .card {
    color: #000;
    background-color: #fff;
    padding: 20px 16px 25px 16px;
    list-style: none;
    width: calc(100% / 5);
    border-radius: 0px;
    border: 1px solid #264e70;
}

.weather-cards .card h3 {
    font-size: 1.3rem;
    font-weight: 600;
}

.weather-cards .card img {
    max-width: 70px;
    margin: 5px 0 -12px 0;
}

@media (max-width: 1400px) {
    .weather-data .current-weather {
        padding: 20px;
    }

    .weather-cards {
        flex-wrap: wrap;
    }

    .weather-cards .card {
        width: calc(100% / 4 - 15px);
    }
}

@media (max-width: 1200px) {
    .weather-cards .card {
        width: calc(100% / 3 - 15px);
    }
}

@media (max-width: 950px) {
    .weather-input {
        width: 450px;
    }

    .weather-cards .card {
        width: calc(100%);
    }
}

@media (max-width: 750px) {
    h1 {
        font-size: 1.45rem;
        padding: 16px 0;
    }

    .container {
        flex-wrap: wrap;
        padding: 15px;
    }

    .weather-input {
        width: 100%;
    }

    .weather-data h2 {
        font-size: 1.35rem;
    }
}